
body, p {
  font-family: iAWriterQuattroS-Regular, "Dank Mono", Roboto, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px; /*preview font-size*/ 
}

.editor {
    font-family:iAWriterQuattroS-Regular,"Dank Mono", Roboto, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
}

.preview {
    font-family:iAWriterQuattroS-Regular,"Dank Mono", Roboto, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: `8px;
}

.theme-dark
{
  --background-primary: #282a36;
  --background-primary-alt: #44475a;
  --background-secondary: #282828;
  --background-secondary-alt: #282a36;
  --text-normal: #f8f8f2;
  --text-faint: #bd93f9;
  --text-title-h1: #ff79c6;
  --text-title-h2: #bd93f9;
  --text-title-h3: #ff5555;
  --text-title-h4: #ffb86c;
  --text-title-h5: #50fa7b;
  --text-title-h6: #8be9fd;
  --text-link: #8be9fd;
  --text-a: #50fa7b;
  --text-a-hover: #bd93f9;
  --text-mark: #6272a4;
  --pre-code: #282a36;
  --text-highlight-bg: #6272a4;
  --interactive-accent: #ffb86c;
  --interactive-before: #ffb86c;
  --background-modifier-border: #8be9fd;
  --blockquote-border: #bd93f9;
  --text-accent: #8be9fd;
  --interactive-accent-rgb: #ffb86c;
}

.theme-light
{
  --background-primary: #fbf1c7; /* bg */
  --background-primary-alt: #fbf1c7; /* bg */
  --background-secondary: #f9f5d7; /* bg0_h */
  --background-secondary-alt: #ebdbb2; /* bg1 */
  --text-normal: #282a36; /* fg0 */
  --text-faint: #665c54; /* fg3 */
  --text-title-h1: #9d0006; /* dark red */
  --text-title-h2: #af3a03; /* dark orange */
  --text-title-h3: #b57614; /* dark yellow */
  --text-title-h4: #79740e; /* dark green */
  --text-title-h5: #427b58; /* dark aqua */
  --text-title-h6: #063642;
  --text-link: #458588; /* light blue */
  --text-a: #d65d0e; /* light orange */
  --text-a-hover: #458588; /* light blue */
  --text-mark: #d79921; /* light yellow */
  --pre-code: #ebdbb2; /* bg1 */
  --text-highlight-bg: #689d6a; /* light aqua */
  --interactive-accent: #d65d0e; /* light orange */
  --interactive-before: #a89984; /* bg4 */
  --background-modifier-border: #d5c4a1; /* bg2 */
  --text-accent: #d65d0e; /* light orange */
  --interactive-accent-rgb: #d65d0e; /* light orange */
  --text-muted: #063642;
}

#graph-view-canvas .links
{
  stroke: var(--interactive-accent-rgb) !important;
}

.checkbox-container
{
  background-color: var(--interactive-before);
  height: 16px !important;
  width: 34px !important;
}

.checkbox-container:after
{
  background-color: var(--background-secondary-alt);
  height: 11px !important;
  width: 14px !important;
  left: -4px !important;
}

html, body
{
  font-size: 18px;
}

strong
{
  font-weight: bolder;
}

a, .internal-link, .cm-hmd-internal-link, .cm-link, .cm-formatting-link
{
  color: var(--text-a) !important;
  text-decoration: none !important;
}

.cm-formatting-link
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

a:hover, .internal-link:hover
{
  color: var(--text-a-hover) !important;
  text-decoration: none !important;
}

mark
{
  background-color: var(--text-mark) !important;
}

.file-view-actions a, 
{
  color: var(--text-normal) !important;
}

.file-view-actions a:hover
{
  color: var(--text-a) !important;
}

.cl-underlined-text
{
  text-decoration: none !important;
  color: var(--text-link) !important;
}

.cm-tag
{
  color: var(--text-faint);
}

pre code
{
  padding: 8px !important;
  line-height: normal;
  display: block;
  background-color: var(--pre-code) !important;
}

.markdown-preview-view pre
{
  padding: 0px !important;
}

code, .cm-inline-code
{
  background-color: var(--pre-code) !important;
  color: var(--text-muted) !important;
  bottom: 0px !important;
}

.markdown-preview-view code
{
  font-size: 13.5px;
}

th
{
  font-weight: 600 !important;
}

thead
{
  border-bottom: 2px solid var(--background-modifier-border);
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote
{
  border-color: var(--blockquote-border) !important;
}

.markdown-preview-view hr
{
  background-color: var(--text-normal);
}

.main-container-header
{
  padding-top: 0 !important;
}

.title
{
  font-weight: 600 !important;
}

.side-dock-panels-container
{
  border-right: 1px solid var(--background-secondary-alt) !important;
}

.side-dock-panels-container *
{
  font-size: 14px !important;
}

.side-dock-title
{
  padding-top: 14px !important;
  font-size: 18px !important;
  font-weight: 800 !important
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover
{
  color: var(--text-a);
}

.nav-file
{
  line-height: normal;
}

.nav-file-title-content
{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.plugin
{
  padding: 5px 10px !important;
  margin: 0 !important;
}

.is-read-mode .markdown-preview-view p
{
font-family: Avenir;

}

.CodeMirror-scroll::-webkit-scrollbar {
  display: none;
}

.markdown-preview-view
{
  font-family: Avenir;
  font-size: 18px;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.markdown-embed-title
{
  font-weight: 600;
}

.markdown-embed
{
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.cm-header-1,
.markdown-preview-view h1
{
  font-family: Avenir;
  font-weight: 500;
  font-size: 34px;
  font-weight: bold;
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2
{
  font-family: Avenir;
  font-weight: 500;
  font-size: 28px;
  font-weight: bold;
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3
{
  font-family: Avenir;
  font-weight: 500;
  font-size: 26px;
  font-weight: bold;
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4
{
  font-family: Avenir;
  font-weight: 500;
  font-size: 22px;
  font-weight: bold;
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5
{
  font-family: Avenir;
  font-weight: 500;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-title-h5); 
}

.cm-header-6,
.markdown-preview-view h6
{
  font-family: Avenir;
  font-weight: 500;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-title-h6); 
}

.table
{
  background-color: var(--background-secondary-alt);
  border: 1px solid var(--background-modifier-border);
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.suggestion-item.is-selected
{
  background-color: var(--background-secondary);
}

.empty-state-container:hover
{
  background-color: var(--background-secondary-alt);
  border: 5px solid var(--interactive-accent) !important;
}
.theme-light strong {
  color: var(--text-a) !important;
  font-weight: bolder;
}

.theme-light em {
  color: #000000;
}

.theme-dark strong {
  color: var(--text-a) !important;
  font-weight: bolder;
}

.theme-dark em {
  color:#b5c7c7; 
}

.cm-s-obsidian .cm-strong
{
  font-weight: bolder;
  color: var(--text-a) !important;
}

.search-result-file-title
{
  color: var(--text-a) !important;
  font-weight: bolder;
}

/* condense line spacing on file explorer title list. also avoids character-level word breaks*/
.nav-file-title-content,.search-result-file-title,.search-result-file-match,.search-result-file-title
{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: normal !important;
  word-break: keep-all;
}

/*clean up side bar empty state (e.g. unlinked mentions not having odd spacing when side bar is narrow)*/
.search-empty-state
{
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
}

/* Changing backlink pane font-size and color*/
.search-result-file-matches
{
color: var(--text-normal) !important;
}

/*Editor and line-height adjustment*/
.cm-s-obsidian, .app-container
{
  font-family: iAWriterQuattroS-Regular, "Dank Mono", Roboto, Helvetica, Arial, "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 150%;
}

/* Andy Matuschak mode! V2! for 0.7.0! (so... 2.7?) */

/* everything under .mod-root now. Don't want Andy messing with sidebars */
/* also, Andy only makes sense for vertical splits, at the root level, right? */
.mod-root.workspace-split.mod-vertical { 
  overflow-x:auto; 
  --header-width: 36px; /* <- 36px is the header height in the default theme */
}
.mod-root.workspace-split.mod-vertical > div { 
  min-width: calc(700px + var(--header-width)); /* <-- 700px is the default theme's "readable" max-width */
  box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.25);
  position:sticky;
  left:0;
}

/* shift sticky position, so titles will stack up to the left */
/* This will currently stack to a maximum of 10 before resetting */
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-8) { left: calc(var(--header-width) * 0); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-7) { left: calc(var(--header-width) * 1); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-6) { left: calc(var(--header-width) * 2); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-5) { left: calc(var(--header-width) * 3); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-4) { left: calc(var(--header-width) * 4); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-3) { left: calc(var(--header-width) * 5); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-2) { left: calc(var(--header-width) * 6); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n-1) { left: calc(var(--header-width) * 7); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+0) { left: calc(var(--header-width) * 8); }
.mod-root.workspace-split.mod-vertical > div:nth-child(10n+1) { left: calc(var(--header-width) * 9); }

/* now it's time for the fancy vertical titles */

/* first we'll add a bit of gap for the title to sit inside of */
.workspace-leaf-content {
  padding-left: var(--header-width);
  position: relative;
}

/* this is where the magic happens */
.view-header {
  writing-mode: vertical-lr;
  border-right: 1px solid var(--background-secondary-alt);
  border-left: 2px solid var(--background-secondary-alt);
  border-top: none;
  border-bottom: none;
  height: auto;
  width: var(--header-width);
  position: absolute;
  left:0;
  top:0;
  bottom:0;
}

/* active titles have different border colours */
.workspace-leaf.mod-active .view-header {
  border-right: 2px solid var(--interactive-accent);
  border-bottom: none;
}

/* unset the title container height and swap padding */
.view-header-title-container {
  height: unset;
  padding-left: unset;
  padding-top: 5px;
}

/* fix the long-title-obscuring shadows */
.view-header-title-container:after {
  width: 100%;
  height: 30px;
  top:unset;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--background-secondary));
}
.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, var(--background-primary-alt));
}

/* swap the padding/margin around for the header and actions icons */
.view-header-icon, .view-actions {
  padding: 10px 5px;
}
.view-action {
  margin: 8px 0;
}

/* get rid of the gap left by the now-missing horizontal title */
.view-content {
  height: 100%;
}

/* make the fake drop target overlay have a background so you can see it. */
/* TODO: figure out how the fake target overlay works so we can put the title back, too */
.workspace-fake-target-overlay {
  background-color: var(--background-primary);
}

/*header background fix*/
.workspace-leaf.mod-active .view-header-title-container:after {
  background: none;
}
/*Editor padding and font-size*/
.cm-s-obsidian  
{
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 20px !important;
}